.add-new-exercise {
  padding: 1em;
  max-height: 100;
  overflow: "auto";
}

.add-button:hover,
.submit-button:hover {
  background-color: #6200ee !important;
}

.submit {
  padding-top: 1em;
}

.set-item {
  padding-bottom: 1em;
}

.weight,
.reps {
  max-width: 5em;
}

.fa-trash-alt:hover {
  color: red;
}
