.newForm {
  margin: 1em;
  padding: 0 0 0 1em;
  background-color: white;
  border-radius: 20px;
}

.add {
  display: inline;
  margin: 0 1em 0 1em;
}
.add-button:hover,
.submit-button:hover {
  background-color: #6200ee !important;
}

.submit {
  padding-top: 1em;
}

.set-item {
  padding-bottom: 1em;
}

.weight,
.reps {
  max-width: 5em;
}

.fa-trash-alt:hover {
  color: red;
}
