.menu-bar {
  padding: 0.5em;
  height: auto;
  overflow: auto;
  background-color: #363f4f;
  color: white;
}

.profile-pic {
  height: 20px;
  width: 20px;
  border-radius: 1em;
  position: relative;
  top: 3px;
}

.userName {
  padding-left: 0.5em;
}
.menu {
  float: right;
  margin-right: 3em;
}

.menu-bar .MuiButton-label-99 {
  color: white;
}
